{%extends "base.html"%}
{%block title%}Dashboard{%endblock%}
{% include "nav.html" %}
{%block content%}
<div class="main">
{%include "sidebar.html"%}
<iframe title="Report Section" width="600" height="486" src="https://app.powerbi.com/view?r=eyJrIjoiZjEwNWMxODctMmRkZi00NDQzLWJiODktYzA0MmViMDMzZTc5IiwidCI6IjYwOTU2ODg0LTEwYWQtNDBmYS04NjNkLTRmMzJjMWUzYTM3YSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-base.min.js"
  integrity="sha256-6cMwccTylKJLvCfzYfhHrLQ0zmkOGWfPmqflB/vm0m0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-SI2kQDphKoFbZNYP8Xypl3q3U6KZU6d94o6lZUc5J5Bo5kVv5e5dWohrlmJhFUKC" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    // Highlight active link
    $('nav .nav-item').click(function () {
      $('nav .nav-item').removeClass('active');
      $(this).addClass('active');
    });
  });
</script>

{%endblock%}