{%extends 'base.html'%}
{%block title%}My Profile{%endblock%}
{% include "nav.html" %}
{%block content%}
<div class="main">
  {%include "sidebar.html"%}
  <div class="profile_edit">
    <h2 style="padding: 0 0.5em">Edit your profile</h2>
    <div class="card-body">
      <form method="post" action="/register">
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="emp_name" value="Akshay Reddy Narra" required>
          </div>
          <div class="form-group">
              <label for="id">Stackoverflow ID</label>
              <input type="text" class="form-control" id="Id" name="stack_id" value="836330" required>
          </div>
          <div class="form-group">
              <label for="headline">Email</label>
              <input type="headline" class="form-control" id="headline" name="emp_headline" value="akshayreddy@vt.edu"  required>
          </div>
          <div class="form-group">
              <label for="position">Current Position</label>
              <input type="position" class="form-control" id="position" name="emp_position" value="Software Developer at ADP"  required>
          </div>
          <div class="form-group">
              <label for="education">Education</label>
              <input type="education" class="form-control" id="education" name="emp_education" value="Virginia Tech University"  required>
          </div>
          <div class="form-group">
              <label for="country">Country</label>
              <input type="country" class="form-control" id="country" name="emp_country" value="United States"  required>
          </div>
          <button type="submit" class="btn">Save Profile</button>
      </form>
      </div>
  </div>
  <script src="animal-avatars.js" defer></script>
  <script>
  var myAvatar = new AnimalAvatars.Avatar();
  let userName = myAvatar.getAvatarName();
  let profileImage = myAvatar.getAvatarUrl();
  console.log(profileImage);
  </script>
  <!-- <div class="aside"></div> -->
</div>
{%endblock%} 