body{
    margin: 0;
    box-sizing: border-box;
}
.screen{
    height: 90%;
}
.card-header {
    text-align: center
   }
.container{
    margin-top: 5em;
    /* width: 70%; */
}
.links_shift{
    margin-left: 0.5em;
}
.password{
    margin:0.5em;
}
.login{
    text-align: center;
    /* margin: 0.5em 0; */
}
.card{
    background-color: rgba(255,255,255,0.5);
}
.btn{
    background-color: #2d98da;
    border-radius: 1em;
    width: 10em;
    margin: 0.5em 0;
}
.btn:hover{
    background-color: #23648d;
}
.navbar{
    height: 10%;
    background-color: #2d98da;
    box-shadow: 0 2px 10px #aaa;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar-brand{
    margin: 0 auto;
    font-size: 2em;
    font-family: "Audiowide", sans-serif;
}

.show_icon{
    margin: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    border: 0.05rem solid #ccc;
}
.main{
    display: flex;
    height: 100%;
}
.main > .profile {
    text-align: center;
    flex: 1;
    padding-top: 2em;
    border: 1px solid #aaa;
  }
.main > iframe{
    flex: 4;
    height: 100%;
}
.pic{
    width: 90%;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #aaa;
}

.profile_edit{
    flex: 4;
    padding: 1em;
}

.aside{
    flex:1;
    background-color: #aaa;
}
a[href='https://powerbi.microsoft.com/'] {
    display: none !important;
}
